.screen{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 6px;
    user-select: none;
    
}
#togglecheck{
    display: inline-block;
    margin-left: 5px;
}
#result{
    width: 100%;
    padding:20px;
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    font-family: inherit;
    background-color: transparent;
    &:disabled{
        border: none;
    }
}